<div class="dialog{{if dialog.className}} ${dialog.className}{{/if}}">
	<h2>
		{{if dialog.icon}}
		<span class="icon">{{html dialog.icon}}</span>
		{{/if}}
		${dialog.title}
	</h2>
	<p>${dialog.message}</p>
	
	{{if dialog.confirm}}
	<!--<form method="get" action="${dialog.confirm.yes.action}">
		<input type="hidden" name="confirm"/>
		<button type="submit" autofocus>${dialog.confirm.yes.label}</button>
	</form>
	<form method="get" action="${dialog.action}">
		<button type="submit">${dialog.confirm.no.label}</button>
	</form>-->
	<a href="${dialog.confirm.yes.action}" class="button" autofocus>
		${dialog.confirm.yes.label}
	</a>
	&nbsp;
	<a href="${dialog.action}" class="button">
		${dialog.confirm.no.label}
	</a>
	{{else dialog.buttonLabel}}
	<!--<form method="get" action="{{if dialog.action}}${dialog.action}{{else}}/?noaction{{/if}}">
		<button type="submit" autofocus>${dialog.buttonLabel}</button>
	</form>-->
	<a href="{{if dialog.action}}${dialog.action}{{else}}/?noaction{{/if}}" class="button" autofocus>
		${dialog.buttonLabel}
	</a>
	{{/if}}
	
</div>
