<!DOCTYPE html5>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>¡Ahhhhhhhh... cechando!</title>
<style type="text/css">
body {
	background: #377790 url(/zoidberg.jpg) center center no-repeat;
	background-size: 100% auto;
	font-family: System,Arial,sans-serif;
	color: #fff;
	padding-top: 30px;
	font-size: 12px;
}
</style>
</head>
<body>
<h1>Aaaaaaaaaahhhh!!!</h1>
<h3>Error 404</h3>
<p>
La página no se encuentra, o el<br/> Dr. Zoidberg tenía mucha hambre.
</p>
<a href="/">Pulsa aquí para volver al índice de la web</a>
</body>
</html>
