<!DOCTYPE html5>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>T1000</title>
<style type="text/css">
body {
	background: #000 url(/terminator.png) center bottom no-repeat;
	font-family: Orbitron,System,Arial,sans-serif;
	color: #c00;
	padding-top: 30px;
	font-size: 16px;
	text-align: center;
}
h1, h3 {
	margin: 0;
	font-weight: bold;
	text-shadow: 0 0 50px rgba(255,0,0,0.9);
}
h1 {
	font-size: 4em;
}
a {
	color: inherit;
	display: block;
	margin: 30px;
	text-shadow: 0 0 1px #fff;
	font-weight: bold;
	font-size: 1.2em;
}
p, pre {
	text-align: left;
}
</style>
<link href='http://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css'>
</head>
<body>
<h3>Esta petición de página ha sido</h3>
<h1>TERMINADA</h1>
<h3>a cause de un fallo en el sistema</h3>

<p>${error}</p>
<pre>${error.stack}</pre>

<a href="/">Pulsa aquí para volver al índice de la web</a>
</body>
</html>