<div class="links">
{{if links}}
	{{each(index, link) links}}
	<h3>
		<span class="votes" data-voted="none" data-link="${link.alphaid}">
			<span class="arrow up{{if link.vote === 1}} voted{{/if}}" title="¿Gestión fuerte?">
				&#9824;
			</span>
			<span class="count">{{if link.votes !== null}}${link.votes}{{else}}&bull;{{/if}}</span>
			<!--<span class="arrow down{{if link.vote === -1}} voted{{/if}}">
				&#9824;
			</span>-->
		</span>
		{{if link.video_site == 2}}
		<span class="thumb">
			<img src="${urls.static}/img/videos/thumb_${link.id}.jpg?id=${link.video_ref}" alt=""
			{{if link.thumbnail_width && link.thumbnail_height}}width="${link.thumbnail_width}" height="${link.thumbnail_height}"{{/if}}
			/>
		</span>
		{{/if}}
		<a href="${link.url}"
		  {{if link.video_site == 2}}
			data-video="youtube ${link.video_ref}"
		  {{else link.video}}
			data-video="video"
		  {{/if}}
		  class="link">
			${link.name}
		</a>
		<span class="link_actions">
			<span class="submitter">
				enviado
				${link.antiquity}
				por
				{{if link.submitter_type == 2}}
				<a href="/u/${link.username}" class="go">${link.username}</a>
				{{else}}
				${link.submitter}
				{{/if}}
			</span>
			en
			<a href="/r/${link.category_ref}" class="go">${link.category_name}</a>
			{{if !link.single}}
				<a href="/r/${link.category_ref}/${link.alphaid}/${link.ref}/" class="go actions">
					${link.comments.length} {{if link.comments.length == 1}}comentario{{else}}comentarios{{/if}} &#9658;
				</a>
				
			{{/if}}
			<span class="plusone" id="plusone-${link.id}"></span>
			{{if link.fbpost}}
				<a href="http://www.facebook.com/${link.fbpost.page}/posts/${link.fbpost.post}" class="fblike">[fb] publicar en mi muro</a>
			{{/if}}


		</span>
		
		<span class="floatbreak"></span>
	</h3>
	{{if index == 1}}
	<!--<div class="ad">
		<script type="text/javascript">
		google_ad_client = "ca-pub-1527586273799797";
		google_ad_slot = "7758630994";
		google_ad_width = 468;
		google_ad_height = 60;
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>-->
	{{/if}}
	{{/each}}

{{else}}
	<h3>Parece que por aquí no hay na</h3>
{{/if}}
</div>

<div class="pages">
{{each(index, value) pages}}
	<a href="/pag/${value.num}/"{{if value.active}} class="active"{{/if}}><span>${value.num}</span></a>
{{/each}}
</div>
