<h2 class="pageheader">
	Protección de datos
</h2>

<h3 class="header">Mi contraseña</h3>

<h3>¿Tiene acechadores acceso a mi contraseña?</h3>
<p>Técnicamente, sí, en el momento que te registras o accedes a tu cuenta.</p>
<p>Es lo mínimo necesario para conectarte, <strong>la buena noticia es que tu clava NO se almacena.</strong></p>
<p>No se almacena tu clave, sino su <em>hash</em>. Un <em>hash</em> es el resultado de
una función que genera un clave única para un texto.</p>
<p>Por ejemplo, el hash del algoritmo <acronym>sha1</acronym> del texto "acechadores" es "ba6c114e00534e102d31077623ea33d86035cd29".
Basta con cambiar una sola letra para que el hash sea totalmente distinto, cambiando a "acechador<strong>a</strong>s" da "44b7614cf84ff8737bec9b507517ffc68e7b3727".
Esto funciona sin importar la longitud del texto, y lo pequeña que sea la diferencia. Bueno no siempre, la posibilidad de sacar dos claves
idénticas para diferentes textos son entre una y 10<sup>48</sup>.
</p>

<h3>¿Cómo protegeis la conexión?</h3>
<p>Tanto cuando conectas normalmente, como cuando conectas al enviar un enlace, se usa el protocolo seguro
http<strong>s</strong>. Así, siempre que envías tu contraseña está protegida.</p>

<h3>Si no se almacena mi clave, ¿entonces cómo cojones sabes si he metido la clave correcta cuando accedo a mi cuenta?</h3>
<p>Simplemente se saca el hash de la clave que has introducido, y se comprueba si coincide con el hash almacenado.</p>

<h3 class="header">Copyright</h3>
<h3>¿Quién tiene los derechos de copyright sobre mis enlaces, comentarios y fotos?</h3>
Todo el contenido aportado por los usuarios a acechadores, se publica bajo la licencia
<a href="http://creativecommons.org/licenses/by-sa/3.0/">Share-alike (compartir manteniendo los derechos) de Creative Commons</a>,
con su respectivo usuario como autor.
<p>Esto por supuesto no afecta a obras que ya tienen copyright y se republican aqui (imágenes, enlaces de otras páginas).</p>

<!--<ul class="dotted">
	<li>{$line}</li>
</ul>-->